<!--begin::App-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="flex-column flex-column-fluid">
    <ng-container>
      <!--begin::Header-->
      <app-header> </app-header>
      <!--end::Header-->
    </ng-container>
 <ng-container>
  <app-toolbar></app-toolbar>
</ng-container>

    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid">
      <!--begin::Main-->
      <div class="app-main flex-column flex-row-fluid">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid mx-15 my-15">
          <app-content> </app-content>
        </div>
        <!--end::Content wrapper-->
        <ng-container>
          <app-footer></app-footer>
        </ng-container>
      </div>
      <!--end:::Main-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::App-->
